@import "../../assets/variables.scss";

// .back {
//     background-color: $lightShade;
//     width: 100vw;
//     height: calc(100vh - 50px);
//     margin-top: 50px;
//     overflow: hidden;
//     // /pointer-events: none;
// }

.list {
    position: absolute;
    display: block;
    border: 2px solid $darkShade;
    width: calc(50%); //calc(25vw);
    height: calc(75%);//55vh;
    margin: 10px;
    margin-top: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 1%;
    z-index: 1;
    overflow-x: hidden;
}

.header {
    color: $darkFont;
    text-align: center;
    font-family: $primaryFont;
    font-size: 24px;
}

.circle {
    display: inline-block;
    position: flex;
    justify-content: center;
    margin: 20px;
    height: 25%;
    width: 25%;
    border: 3px solid $darkShade;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.2);
    background-color: #E77E42;
    border-radius: 50%;
    font-family: $primaryFont;
    color: $darkFont;
    font-size: 18px;
    text-align: center;
    vertical-align: middle;
}

.circle:hover {
    opacity: .6;
    cursor: pointer;
}

.iconWrap {
    display: block; 
    position: flex;
    margin: 30px;
}
