@import "../../variables.scss";

.mySlides {display: none;}
img {vertical-align: middle;}

.container {
  display: block;
  position: absolute;
  width: calc(100% - 10px);
  height: calc(100%);
  right: 0;
  bottom: 0;
  margin: 5px;
  border-radius: 2px;
}

.active {
  background-color: $primaryColor;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

// .text {
//   display: block;
//   z-index: 1;
//   opacity: 1;
//   text-align: center;
//   font-family: $primaryFont;
//   color: $darkFont;
//   font-style: bolder;
//   font-size: 45px;
//   margin-top: 250px;
// }