@import "../../../assets/variables.scss";

.signInButton {
  justify-content: center;
  position: absolute;
  display: flex;
  left: 0;
  background-color: $primaryColor;
  color: $darkShade;
  border: 2px solid $darkShade;
  border-radius: 5px;
  box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.2);
  font-size: 24px;
  font-weight: $normalWeight;
  font-family: $primaryFont;
  width: 100px;
  height: calc(100% - 20px);
  margin-left: 10px;
}

.signInButton:hover {
  cursor: pointer;
  //opacity: .8;
  border: 3px solid $darkShade;
}

.popUp {
  display: flex;
  position: fixed;
  justify-content: center;
  left: 10px;
  top: 60px;
  background-color: $primaryColor;
  width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius: 5%;
}

.noPopUp {
  display: none;
  position: fixed;
  left: 10px;
  top: 60px; 
  width: 150px;
}

.popUpText {
  display: relative;
  width: 100%;
  font-family: $primaryFont;
  color: $darkFont;
  font-weight: $normalWeight;
  font-size: 18px;
}

.form {
  max-width: 500px;
}

.form label {
  position: absolute;
  margin-top: -20px;
  margin-left: 10px;
}

.form div {
  padding-top: 10px;
  display: flex;
}

.form p {
  position: relative;
  flex: 1;
  display: flex;
}

.form input, .form textarea {
  margin: 10px;
  flex: 1;
  margin-right: 20px;
  border: 1px solid #eee;
  background: #fff;
  border-radius: 5px;
  padding: 5px;
  padding-left: 10px;
}

.form button {
  margin-right: 50px;
  margin-left: 45px;
  margin-bottom: 10px;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 0px 20px;
  color: #fff;
  background: #68b04d;
  cursor: pointer;
}

.form button:hover {
  background: #8fc942;
}

.buttonText {
  font-family: $primaryFont;
  color: $lightFont;
  font-weight: $normalWeight;
  font-size: 18px;
  margin: 0 auto;
  margin-bottom: 8px;
}

.createText {
  font-family: $primaryFont;
  font-weight: $normalWeight;
  margin-left: 20px;
  margin-top: -20px;
  margin-bottom: 10px;
}