@import "../../assets/variables.scss";

.back1 {
  display: inline-block;
  overflow: hidden;
  background-color: $lightShade;    
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  max-width: 100%;
  z-index: -1;
}

.back2 {
  display: inline-block;
  background-color: $primaryColor;  
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  max-width: 100%;
  z-index: -1;
}

.c {
  display: block;
  position: relative;
  //background-color: green; //$lightShade; 
  width: calc(100vw - 600px);
  height: 100%;
  margin-left: 300px;
}

.arc {
  overflow: hidden;
  background-image: linear-gradient(to right, rgb(4, 248, 252) , rgba(244, 16, 252, 0.959));
  border: 2px solid $primaryFont;
  display: flex;
  min-width: 200vw;
  min-height: 125vh;
  margin-top: -500px;
  margin-left: -60vw;
  padding: 0.5em;
  border-radius: 50%;
  border-left-color: transparent;
  border-right-color: transparent;
  border-top-color: transparent;
  z-index: 0;
  justify-content: center;
}

.titleText {
  margin: auto;
  margin-top: 600px;
  color: $darkFont;
  font-size: 50px;
  font-weight: $normalWeight;
  font-family: $primaryFont;
  z-index: 1;
}
