@import "../../assets/variables.scss";

.back1 {
  display: inline-block;
  background-color: $lightShade;    
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  max-width: 100%;
  z-index: -1;
}

.back2 {
  display: inline-block;
  background-color: $primaryColor;  
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  max-width: 100%;
  z-index: -1;
}

.c {
  display: block;
  position: relative;
  //background-color: green; //$lightShade; 
  width: calc(100vw - 400px);
  height: 100%;
  margin-left:200px;
}

