@import "../variables.scss";

.back {
  display: block;
  background-color: $lightShade;    
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  max-width: 100%;
}

.c {
  display: block;
  position: relative;
  //background-color: green; //$lightShade; 
  width: calc(100vw - 400px);
  height: 100%;
  margin-left:200px;
}

