@import "../../../assets/variables.scss";

.signInButton {
  justify-content: center;
  position: absolute;
  display: flex;
  left: 0;
  background-color: $primaryColor;
  color: $darkShade;
  border: 2px solid $darkShade;
  border-radius: 5px;
  box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.2);
  font-size: 24px;
  font-weight: $normalWeight;
  font-family: $primaryFont;
  width: 100px;
  height: calc(100% - 20px);
  margin-left: 10px;
}

.signInButton:hover {
  cursor: pointer;
  //opacity: .8;
  border: 3px solid $darkShade;
}
