@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

$primaryColor: #3A7CE9; // #6f73d2;
$lightShade: #FAF9F5;
$lightAccent: #EEB29E;
$darkAccent: #6A9DEB;
$darkShade: #366CC2;
$primaryFont: 'Source Sans Pro', sans-serif;