@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

$primaryColor: #52C9CB; // #6f73d2;
$lightShade: #FAF9F9;
$lightAccent: #E77E42;
$darkAccent: #79837F;
$darkShade: #241A30;
$darkFont: #241A30;
$lightFont: #FAF9F9;
$primaryFont: 'Source Sans Pro', sans-serif;
$normalWeight: 400;
